<div *ngIf="!allEmpls.length">
    <p class="display-4 text-center text-secondary">No Employee Found</p>
</div>
<div *ngIf="allEmpls.length && allDepts.length" id="empl-table">
    <p class="display-4">All Employees</p>
    <div id="input-field" class="input-group text text-right">
        <input type="text" placeholder="Search Employee" [(ngModel)]="searchName" (ngModelChange)="searchEmpl()">
        <select (change)="filterByDept($event)" class="custom-select custom-select-sm">
            <option disabled hidden selected value> -- Filter By Department -- </option>
            <option *ngFor="let dept of allDepts" [value]="dept.deptId">{{dept.deptName}}</option>
        </select>
        <div>
            <button type="button" class="btn btn-sm btn-outline-info" (click)="showAllEmpls()">Show All Employees</button>
            <button id="new-empl-btn" type="button" class="btn btn-sm btn-outline-success float-right" routerLink="/new/employee">New Employee</button>
        </div>
    </div>
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col" (click)="orderById()" class="sortable">Id ⇳</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col" (click)="orderByDept()" class="sortable">Department ⇳</th>
          <th scope="col">Position</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empl of empls" routerLink="/employees/{{empl.emplId}}">
          <td>{{empl.emplId}}</td>
          <td>{{empl.firstName | titlecase}}</td>
          <td>{{empl.lastName | titlecase}}</td>
          <td>{{empl.email}}</td>
          <td>{{empl.phone}}</td>
          <td>{{allDepts[empl.deptId-1].deptName}}</td>
          <td>{{empl.position}}</td>
        </tr>
      </tbody>
    </table>
</div>