<div *ngIf="!pendingReims.length" class="text-center">
    <p class="display-4 text-secondary">No Pending Reimbursement</p>
    <button type="button" class="btn btn-outline-secondary" routerLink="/my/reimbursements/resolved">My Resolved Reimbursement</button>
</div>
<div id="pending-table" *ngIf="pendingReims.length">
    <p class="display-4">My Pending Reimbursement</p>
    <button id="get-resolved" type="button" class="btn btn-outline-secondary" routerLink="/my/reimbursements/resolved">Resolved Reimbursement</button>
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Amount</th>
          <th scope="col">Submit At</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reim of pendingReims" routerLink="/reimbursements/{{reim.reimId}}">
          <td>{{reim.reimId}}</td>
          <td>${{reim.amount}}</td>
          <td>{{reim.submitDate}}</td>
          <td>{{reim.status | titlecase}}</td>
        </tr>
      </tbody>
    </table>
</div>