<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Warning</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Current employee will be delete. Enter <strong><i>Confirm</i></strong> To Continue.</p>
    <input type="text" class="form-control" placeholder="Please Confirm" name="confirm" [(ngModel)]="confirmDelete">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="deleteEmpl()">Submit</button>
  </div>
</ng-template>

<div *ngIf="currentEmpl.emplId && currentDept.deptId">
    <div class="display-4">Employee Detail</div>
    <p class="lead">{{currentEmpl.firstName}} {{currentEmpl.lastName}}</p>
    <button type="button" *ngIf="!currentEmpl.isManager" (click)="openAlertModal(content)" class="btn btn-outline-danger">Delete</button>
</div>
