#profile {
    margin-left: 10%;
    margin-right: 10%;
}

.edit {
    cursor: pointer;
}

small {
    color: red;
}

label {
    font-size: 0.8em;
    font-weight: 600;
}

button {
    margin-left: 10px;
}

input {
    border: none;
}

.editField {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}

#password-field input {
    border: 0.8px solid lightgray;
}

caption {
    color: black;
    font-size: large;
}
