<div id="profile" *ngIf="profile && myDept">
    <p class="display-4">My Profile</p>
    <table class="table table-hover">
        <tr>
            <th scope="col">Name</th>
            <td>{{profile.firstName}} {{profile.lastName}}</td>
            <td></td>
        </tr>
        <tr>
            <th scope="col">Email</th>
            <td><input type="text" name="email" (ngModelChange)="compareProfile()" [(ngModel)]="profile.email" [readonly]="editable!=='email'" [ngClass]="editable==='email' ? 'editField' : ''" (ngModelChange)="uniqueEmail()"></td>
            <td><img class="edit" (click)="edit('email')" src="assets/pencil.png"/></td>
        </tr>
        <small *ngIf="profile.email && !validService.validateEmail(profile.email)">Invalid Email</small>
        <small *ngIf="!isUnqiueEmail && profile.email!==originalProfile.email">Email Already In Use</small>
        <tr>
            <th scope="col">Phone</th>
            <td><input type="text" name="phone" (ngModelChange)="compareProfile()" [(ngModel)]="profile.phone" [readonly]="editable!=='phone'" [ngClass]="editable==='phone' ? 'editField' : ''" (ngModelChange)="uniquePhone()"></td>
            <td><img class="edit" (click)="edit('phone')" src="assets/pencil.png"/></td>
        </tr>
        <small *ngIf="profile.phone && !validService.validatePhone(profile.phone)">Invalid Phone</small>
        <small *ngIf="!isUniquePhone && profile.phone!==originalProfile.phone">Phone Already In Use</small>
        <tr>
            <th scope="col">Manager</th>
            <td>{{managerName ? managerName : 'Null'}}</td>
            <td></td>
        </tr>
        <tr>
            <th scope="col">Department</th>
            <td>{{myDept.deptName}}</td>
            <td></td>
        </tr>
        <tr>
            <th scope="col">Position</th>
            <td>{{profile.position}}</td>
            <td></td>
        </tr>
    </table><br><br>
    <div class="form-row" id="password-field">
        <div class="form-group col-md-6">
            <label for="newPass">New Password</label>
            <input type="password" placeholder="Enter New Password" class="form-control" name="newPass" id="newPass" [(ngModel)]="newPass" (ngModelChange)="compareProfile()">
            <small *ngIf="newPass && !validService.validatePassword(newPass)">Password Not Valid</small>
        </div>
        <div class="form-group col-md-6">
            <label for="confirmPass">Confirm Your Password</label>
            <input type="password" placeholder="Confirm Your New Password" class="form-control" name="confirmPass" id="confirmPass" [(ngModel)]="confirmPass">
            <small *ngIf="newPass && confirmPass!==newPass">Password Not Match</small>
        </div>
    </div>
    <p class="alert alert-success" *ngIf="success">Update Profile Success</p>
    <div class="text text-right">
        <button type="button" (click)="restore()" *ngIf="changed" class="btn btn-outline-secondary">Cancel</button>
        <button type="button" (click)="updateProfile()" *ngIf="changed" class="btn btn-outline-primary">Submit</button>
    </div><br>
</div>