#resolved-table {
    margin-left: 5%;
    margin-right: 5%;
}

button {
    margin-bottom: 10px;
}

select {
    max-width: 130px;
    margin-right: 1%;
}

#input-field {
    margin-left: 75%;
}

tbody tr {
    cursor: pointer;
}
