li {
    list-style: none;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#title {
    margin-right: 8%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4c5858;
}

a {
    cursor: pointer;
    color: gray;
    font-size: 1.1em;
}

a:hover {
    color: black;
}

a:active {
    border: 1px solid lightgrey;
}

li {
    margin-right: 1.5em;
}
