<nav class="navbar navbar-light bg-light shadow-sm p-3 mb-5 bg-white rounded">
    <a class="navbar-brand" routerLink="home">
        <img src="assets/logo.png" class="d-inline-block align-top" alt="Revature">
    </a>
    <li id="title" class="nav-item" *ngIf="!authService.empl">
        <div class="nav-link display-4 text text-center">Expense Reimbursement System</div>
    </li>
    <div class="d-flex justify-content-end">
        <li class="nav-item" *ngIf="authService.empl">
            <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item" *ngIf="authService.empl && authService.empl.isManager">
            <a class="nav-link" routerLink="employees/all">All Employees</a>
        </li>
        <li class="nav-item" *ngIf="authService.empl && authService.empl.isManager">
            <a class="nav-link" routerLink="reimbursements/all">All Reimbursements</a>
        </li>
        <li class="nav-item" *ngIf="authService.empl  && authService.empl.managerId">
            <a class="nav-link" routerLink="new/reimbursement">New Reimbursement</a>
        </li>
        <li class="nav-item" *ngIf="authService.empl">
            <a class="nav-link" routerLink="my/reimbursements/pending">My Reimbursement</a>
        </li>
        <li class="nav-item" *ngIf="authService.empl">
            <a class="nav-link" routerLink="my/profile">Profile</a>
        </li>
        <li class="nav-item" *ngIf="authService.empl">
            <a class="nav-link" (click)="logout()">Log Out</a>
        </li>
    </div>
</nav>
