#login-form {
    margin-left: 12%;
    margin-right: 12%;
    padding: 3%;
}

label {
    font-size: large;
}

span {
    cursor: pointer;
    float: right;
}

#togglePass {
    cursor: pointer;
    color: lightslategray;
    float: right;
    padding-right: 10px;
    margin-top: -31px;
    position: relative;
    z-index: 2;
}
