<div class="text text-left">
    <p class="lead">You Currently Have <strong routerLink="/my/reimbursements/pending">{{numOfPendingReim}}</strong> Pending Reimbursement {{numOfPendingReim > 1 ? "Requests" : "Request"}}</p>
    <small *ngIf="authService.empl && authService.empl.managerId"><p>If you have any question, please contact <span (click)="contactInfo()">your manager</span>.</p></small>

    <div id="contact" *ngIf="showContact">
        Manager:{{myManager.firstName | titlecase}} {{myManager.lastName | titlecase}}<br>
        Phone:{{myManager.phone}}<br>
        Email:{{myManager.email}}<br>
    </div>
</div>
