#current-reim {
    margin-left: 5%;
    margin-right: 5%;
}

#button-field {
    float: right;
}

button {
    margin-left: 8px;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: whitesmoke;
}
