#current-reim {
    margin-left: 5%;
    margin-right: 5%;
}

#button-field {
    float: right;
}

button {
    margin-left: 8px;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: whitesmoke;
}

img {
    cursor: pointer;
}

input {
    background-color: white;
    border: none;
}

.editField {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}

.receipt {
    max-width: 200px;
    max-height: 80px;
}
