<ng-template #content let-modal>
	<div class="modal-header">
	  <h4 class="modal-title">Warning</h4>
	  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<div class="modal-body">
	  <p><strong>{{result === "Approved" ? "Approve" : "Deny"}}</strong> the reimbursement request?</p>
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cancel</button>
	  <button type="button" class="btn btn-danger" (click)="resolveReim()">Submit</button>
	</div>
</ng-template>

<div *ngIf="currentReim.reimId && currentEmpl.emplId && currentDept.deptId" id="current-reim">
	<p class="display-4">Reimbursement Detail</p>
	<div *ngIf="!currentReim.result">
		<table class="table table-hover">
			<tr>
				<th scope="col">Id</th>
				<td>{{currentReim.reimId}}</td>
				<td *ngIf="currentEmpl.emplId===authService.empl.emplId"></td>
			</tr>
			<tr>
				<th scope="col">Amount ($)</th>
				<td><input type="number" step="0.01" min="0.01" name="amount" (ngModelChange)="compareReim()" [(ngModel)]="currentReim.amount" [readonly]="editable!=='amount'" [ngClass]="editable==='amount' ? 'editField' : ''"></td>
				<td *ngIf="currentEmpl.emplId===authService.empl.emplId"><img class="edit" (click)="edit('amount')" src="assets/pencil.png"/></td>
			</tr>
			<tr>
				<th scope="col">Status</th>
				<td>{{currentReim.status | titlecase}}</td>
				<td *ngIf="currentEmpl.emplId===authService.empl.emplId"></td>
			</tr>
			<tr>
				<th scope="col">Submit By</th>
				<td [ngClass]="authService.empl.isManager ? 'clickable' : ''" (click)="redirectToEmpl()">{{currentEmpl.firstName | titlecase}} {{currentEmpl.lastName | titlecase}}</td>
				<td *ngIf="currentEmpl.emplId===authService.empl.emplId"></td>
			</tr>
			<tr>
				<th scope="col">Department</th>
				<td>{{currentDept.deptName}}</td>
				<td *ngIf="currentEmpl.emplId===authService.empl.emplId"></td>
			</tr>
			<tr>
				<th scope="col">Submit At</th>
				<td>{{currentReim.submitDate}}</td>
				<td *ngIf="currentEmpl.emplId===authService.empl.emplId"></td>
			</tr>
			<tr>
				<th scope="col">Description</th>
				<td><input type="text" name="description" (ngModelChange)="compareReim()" [(ngModel)]="currentReim.description" [readonly]="editable!=='description'" [ngClass]="editable==='description' ? 'editField' : ''"></td>
				<td *ngIf="currentEmpl.emplId===authService.empl.emplId"><img class="edit" (click)="edit('description')" src="assets/pencil.png"/></td>
			</tr>
			<tr>
				<th scope="col">Invoice</th>
				<td *ngIf="currentReim.receipt"><img class="receipt" [src]="path+currentReim.receipt" /></td>
				<td *ngIf="!currentReim.receipt">N/A</td>
				<td *ngIf="currentEmpl.emplId===authService.empl.emplId"></td>
			</tr>
		</table>
		<div class="alert alert-success" *ngIf="success">Updated Success!</div>
		<div *ngIf="authService.empl.isManager && authService.empl.isManager > currentEmpl.isManager" class="text text-center">
			<div class="input-group">
				<div class="input-group-prepend">
				  <span class="input-group-text">Reason</span>
				</div>
				<textarea class="form-control" aria-label="With textarea" placeholder="If deny" rows="2" name="reason" [(ngModel)]="currentReim.reason"></textarea>
			</div><br>
			<button type="button" (click)="openAlertModal(content, 'Approved')" class="btn btn-outline-primary">Approve</button>
			<button type="button" (click)="openAlertModal(content, 'Denied')" class="btn btn-outline-primary">Deny</button>
			<br>
		</div>
		<div id="button-field" *ngIf="authService.empl.emplId === currentReim.submitById" class="text text-center">
			<button type="button" id="restore-btn" (click)="restore()" *ngIf="changed" class="btn btn-outline-info">Cancel</button>
			<button type="button" id="update-btn" (click)="update()" *ngIf="changed" class="btn btn-outline-primary">Submit</button>
			<button type="button" id="delete-btn" (click)="delete()" class="btn btn-outline-danger">Delete</button>
		</div><br><br>
	</div>
	<div *ngIf="currentReim.result && resolvedByEmpl.emplId">
		<table class="table table-hover">
			<tr>
				<th scope="col">Id</th>
				<td>{{currentReim.reimId}}</td>
			</tr>
			<tr>
				<th scope="col">Amount</th>
				<td>${{currentReim.amount}}</td>
			</tr>
			<tr>
				<th scope="col">Status</th>
				<td>{{currentReim.status | titlecase}}</td>
			</tr>
			<tr>
				<th scope="col">Result</th>
				<td>{{currentReim.result}}</td>
			</tr>
			<tr>
				<th scope="col">Submit By</th>
				<td [ngClass]="authService.empl.isManager ? 'clickable' : ''" (click)="redirectToEmpl()">{{currentEmpl.firstName | titlecase}} {{currentEmpl.lastName | titlecase}}</td>
			</tr>
			<tr>
				<th scope="col">Department</th>
				<td>{{currentDept.deptName}}</td>
			</tr>
			<tr>
				<th scope="col">Submit At</th>
				<td>{{currentReim.submitDate}}</td>
			</tr>
			<tr>
				<th scope="col">Resolved By</th>
				<td [ngClass]="authService.empl.isManager ? 'clickable' : ''" (click)="redirectToEmpl('resolved')">{{resolvedByEmpl.firstName | titlecase}} {{resolvedByEmpl.lastName | titlecase}}</td>
			</tr>
			<tr>
				<th scope="col">Resolved At</th>
				<td>{{currentReim.resolvedDate}}</td>
			</tr>
			<tr>
				<th scope="col">Description</th>
				<td>{{currentReim.description}}</td>
			</tr>
			<tr>
				<th scope="col">Reason</th>
				<td>{{currentReim.reason ? currentReim.reason : ''}}</td>
			</tr>
			<tr>
				<th scope="col">Invoice</th>
				<td *ngIf="currentReim.receipt"><img class="receipt" [src]="path+currentReim.receipt" /></td>
				<td *ngIf="!currentReim.receipt">N/A</td>
			</tr>
		</table>
	</div>
</div>
